<div id="carouselFadefourth" class="carousel slide arslan" data-ride="carousel">
    <div class="carousel-inner">
        <h2>featured artists</h2>
        <div class="carousel-item active">
            <div class="row">
                <div class="col-2">
                    <img src="Media/featured artists/1.jpg" class="img-thumbnail" alt="">
                    <a href="#">kishore kumar</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/2.jpg" class="img-thumbnail" alt="">
                    <a href="#">sidhu moosewala</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/3.jpg" class="img-thumbnail" alt="">
                    <a href="#">arjit singh</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/4.jpg" class="img-thumbnail" alt="">
                    <a href="#">guru randhawa</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/5.jpg" class="img-thumbnail" alt="">
                    <a href="#">codplay</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/6.jpg" class="img-thumbnail" alt="">
                    <a href="#">sherya ghoshal</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
            </div>
        </div>            
        <div class="carousel-item">
            <div class="row">
                <div class="col-2">
                    <img src="Media/featured artists/7.jpg" class="img-thumbnail" alt="">
                    <a href="#">jasmine sandlas</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/8.jpg" class="img-thumbnail" alt="">
                    <a href="#">rahat fateh ali khan</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>        
                <div class="col-2">
                    <img src="Media/featured artists/9.jpg" class="img-thumbnail" alt="">
                    <a href="#">gurnam bhullar</a>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/10.jpg" class="img-thumbnail" alt="">
                    <a href="#">sunidhi chauhan</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/11.jpg" class="img-thumbnail" alt="">
                    <a href="#">gurnazar</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/12.jpg" class="img-thumbnail" alt="">
                    <a href="#">jordan sandhu</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
            </div>
        </div>            
        <div class="carousel-item">
            <div class="row">
                <div class="col-2">
                    <img src="Media/featured artists/13.jpg" class="img-thumbnail" alt="">
                    <a href="#">rajvir jawanda</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/14.jpg" class="img-thumbnail" alt="">
                    <a href="#">pitbull</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/15.jpg" class="img-thumbnail" alt="">
                    <a href="#">mohammad rafi</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/16.jpg" class="img-thumbnail" alt="">
                    <a href="#">shakira</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/17.jpg" class="img-thumbnail" alt="">
                    <a href="#">dr zeus</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
                <div class="col-2">
                    <img src="Media/featured artists/18.jpg" class="img-thumbnail" alt="">
                    <a href="#">party with diljit</a>
                    <div class="middle" style="top: 40%;">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>            
            </div>
        </div>          
    </div>          
    <a class="carousel-control-prev buttons" href="#carouselFadefourth" role="button" data-slide="prev">
        <i class="fas fa-angle-double-left prev-1"></i>
    </a>
    <a class="carousel-control-next" href="#carouselFadefourth" role="button" data-slide="next">
        <i class="fas fa-angle-double-right next-1"></i>
    </a>
</div>