<footer>
    <div class="card-group">
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Albums</h5>
            <p class="card-text"><span>english</span> | <span>hindi</span> | <span>telugu</span> | <span>punjabi</span> | <span>kannada</span> | <span>tamil</span> | <span>bhojipuri</span> | <span>malayalam</span> | <span>gujarati songs</span> | <span>marathi</span> | <span>bengali</span> | <span>haryanvi</span></p>                     
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Genres</h5>
            <p class="card-text"><span>bollywood</span> | <span>romantic songs</span> | <span>ghazals</span> | <span>kids songs</span> | <span>disco songs</span> | <span>rock songs</span> | <span>sifi songs</span> | <span>devotional songs</span> | <span>bhajan</span> | <span>partriotic songs</span> | <span>love songs</span></p>                      
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Artists</h5>
            <p class="card-text"><span>Arijit singh</span> | <span>nehha kakkar</span> | <span>honey singh</span> | <span>atif aslam</span> | <span>a r rehman</span> | <span>lata mangeshkar</span> | <span>kishore kumar</span> | <span>armaan malik</span> | <span>nusrat fateh ali khan</span> | <span>mohammad rafi</span> | <span>guru randhawa</span></p>                      
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">New Release</h5>
            <p class="card-text"><span>english songs</span> | <span>hindi songs</span> | <span>telugu songs</span> | <span>punjabi songs</span> | <span>kannada songs</span> | <span>tamil songs</span> | <span>bhojipuri songs</span> | <span>malayalam songs</span> | <span>gujarati</span> | <span>urdu songs</span> | <span>marathi songs</span> | <span>bengali songs</span> | <span>odia songs</span> | <span>rajasthni songs</span> | <span>assamese songs</span></p>                     
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Trending Songs</h5>
            <p class="card-text"><span>filhall</span> | <span>dhummu dholi</span> | <span>hanuman chalisa</span> | <span>rang barse bheege chunarwali</span> | <span>shaitan ka saala</span> | <span>rabb wangu</span> | <span>muqabla</span> | <span>tum hi ana</span> | <span>pachtaage</span> | <span>tujy kitna chahne lage</span> | <span>holi ke din</span></p>                      
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Trending Albums</h5>
            <p class="card-text"><span>happy brithday</span> | <span>sad songs</span> | <span>taki taki</span> | <span>malang</span> | <span>street dancer 3d</span> | <span>love aj kal</span> | <span>tanhaji</span> | <span>kabir singh</span> | <span>chhapaak</span> | <span>pk</span> | <span>marjaavaan</span></p>                      
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Lyrics</h5>
            <p class="card-text"><span>tum hi ana</span> | <span>jab koi baat bigad jaye</span> | <span>nazam nazam</span> | <span>leja re</span> | <span>duniyaa</span> | <span>asli hip hop</span> | <span>cheap thrills</span> | <span>gayatri mantra</span> | <span>kya hua tera vada</span> | <span>machayenga</span> | <span>teri mitti</span> | <span>panga</span> | <span>gana gana mana lyrics</span></p>                     
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Old Songs</h5>
            <p class="card-text"><span>old hindi songs</span> | <span>old english songs</span> | <span>old punjabi songs</span> | <span>old telugu songs</span> | <span>old tamil songs</span> | <span>old bhojpuri songs</span> | <span>old bengali songs</span> | <span>old malayalam songs</span> | <span>old khannada songs</span> | <span>old marathi songs</span> | <span>old gujarati songs</span> | <span>old urdu songs</span></p>                      
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Video</h5>
            <p class="card-text"><span>chal oye</span> | <span>teri mitti</span> | <span>shuru karein kya</span> | <span>machayenge</span> | <span>mujhe kaise pata na chala</span> | <span>prada</span> | <span>fakira</span> | <span>hawa banke</span> | <span>wakhra swag</span> | <span>dheeme dheeme</span> | <span>paagal</span> | <span>the hook up song</span></p>                      
            </div>
        </div>
    </div>
    <div class="footer-text">
        <div class="text">
            <p>Gaana is the one-stop solution for all your music needs. Gaana offers you fee. unlimited access to<br> over 30 million Hindi Songs. Bollywood Music, English MP3 songs, Regional Music & Mirchi Play.</p>                        
        </div>
        <div class="social-icon">
            <h3>follow us</h3>
        </div>
        <div class="icon">                       
            <a href="#" class="btn-floating btn-tw facebook" type="button" role="button"><i class="fab fa-facebook-f text-white"></i></a>                    
            <a href="#" class="btn-floating btn-tw twitter" type="button" role="button"><i class="fab fa-twitter text-white"></i></a>                    
        </div>
    </div>
    <br>
    <hr class="new1">
    <div class="footer-link">
        <p><span>Advertise on Gaana.com </span> | <span> Trems of Use </span> | <span> Privacy Policy </span> | <span> Feedback </span> | <span> Report an issue </span> | <span> Partners </span> | <span> Sitemap </span> | <span> FAQ </span></p>
        <p>&copy; Mohammad Arslan Ltd. 2020, All Right Reserved</p>
    </div>
</footer>