<nav class="header fixed-top">
    <div class="logo">
        <img src="Media/Gaana-Logo.png" alt="gaana.com" href="/">
    </div>
    <ul>
        <!-- <li class="active"><a href="index.html">HOME <span class="sr-only">(current)</span></a></li>
        <li><a href="browser.html">BROWSE</a></li>
        <li><a href="discover.html">DISCOVER</a></li>
        <li><a href="radio.html">RADIO</a></li> -->
        <li><a href="/">HOME <span class="sr-only">(current)</span></a></li>
        <li><a href="/browser">BROWSE</a></li>
        <li><a href="/discover">DISCOVER</a></li>
        <li><a href="/radio">RADIO</a></li>
        <li><a href="#">MY MUSIC</a></li>
        <li><a href="#">PODCASTS</a></li>
        <li><a href="#">INDIA'S MUSIC</a></li>
        <li><a href="#" class="btn-1">GET GAANA PLUS</a></li>
        <li class="downloadapp">Download App <a href="#" class="btn-floating btn-tw apple" type="button" role="button"><i class="fab fa-apple"></i></a> <a href="#" class="btn-floating btn-tw android" type="button" role="button"><i class="fab fa-android"></i></a>                
    </ul>
    <!-- Button trigger modal -->
    <button type="button" id="button" class="btn signin"><a href="/register" style="text-decoration: none; color: #E72C30;">SIGN UP</a></button> 
    <!-- data-toggle="modal" data-target="#signinModal">
        SIGN UP
    </button> -->
</nav>
<!-- Modal
<div class="modal fade" id="signinModal">
    <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <img src="Media/Gaana-Logo.png" alt="">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <form action="">
                <div class="form-group">
                    <label> <i class="fas fa-user-tie"></i> Username: </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label> <i class="fas fa-lock"></i> Password: </label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group">
                    <label> <i class="fas fa-envelope"></i> Email: </label>
                    <input type="text" class="form-control">
                </div>
            </form>
            <button type="button" class="btn-signup" data-dismiss="modal">Signup</button>
        </div>                
    </div>
</div> -->
