<!DOCTYPE html>
<html>
    <head>
        <title>Browse Top Albums, MP3 Songs, Latest Playlists on Gaana. Play Music for Free & Download.</title>
        <link rel="stortcut icon" type="image/png" href="Media/icon.png">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="stylesheet" href="CSS/browser.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>
        <%- include("partials/header") -%> 
        <%- include("partials/Queue") -%> 
        <div class="background-1">
            <div class="head">
                <img href="/" src="Media/icon.png" alt="">
                <a href="/">gaana</a><a href="/" class="btn-floating btn-tw circle" type="button" role="button"><i class="fas fa-circle"></i></a>
                <p>browser songs</p>
            </div>
            <hr class="new1">
            <div id="carouselFade" class="carousel slide arslan" data-ride="carousel">
                <div class="carousel-inner">
                    <h2>top albums</h2>
                    <div class="carousel-item active">
                        <div class="row">
                        <div class="col-2">
                            <img src="Media/top albums/1.jpg" class="img-thumbnail" alt="">
                            <a href="#">street dancer 3d</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/2.jpg" class="img-thumbnail" alt="">
                            <a href="#">love aj kal</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/3.jpg" class="img-thumbnail" alt="">
                            <a href="#">malang</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/4.jpg" class="img-thumbnail" alt="">
                            <a href="#">kabir singh</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/5.jpg" class="img-thumbnail" alt="">
                            <a href="#">baahgi 3</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/6.jpg" class="img-thumbnail" alt="">
                            <a href="#">marjaavaan</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        </div>
                    </div>            
                    <div class="carousel-item">
                        <div class="row">
                        <div class="col-2">
                            <img src="Media/top albums/7.jpg" class="img-thumbnail" alt="">
                            <a href="#">pati patni aur woh</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/8.jpg" class="img-thumbnail" alt="">
                            <a href="#">luka chuppi</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>        
                        <div class="col-2">
                            <img src="Media/top albums/9.jpg" class="img-thumbnail" alt="">
                            <a href="#">goa beach</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/10.jpg" class="img-thumbnail" alt="">
                            <a href="#">loca</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/11.jpg" class="img-thumbnail" alt="">
                            <a href="#">good newwz</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/12.jpg" class="img-thumbnail" alt="">
                            <a href="#">jawaani jaaneman</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        </div>
                    </div>            
                    <div class="carousel-item">
                        <div class="row">
                        <div class="col-2">
                            <img src="Media/top albums/13.jpg" class="img-thumbnail" alt="">
                            <a href="#">satyameva jayate</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/14.jpg" class="img-thumbnail" alt="">
                            <a href="#">war</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/15.jpg" class="img-thumbnail" alt="">
                            <a href="#">simmba</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/16.jpg" class="img-thumbnail" alt="">
                            <a href="#">loveyatri</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/17.jpg" class="img-thumbnail" alt="">
                            <a href="#">housefull 4</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top albums/18.jpg" class="img-thumbnail" alt="">
                            <a href="#">tu bhi royega</a>
                            <div class="middle" style="top: 40%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        </div>
                    </div>          
                </div>          
                <a class="carousel-control-prev buttons" href="#carouselFade" role="button" data-slide="prev">
                    <i class="fas fa-angle-double-left prev-1"></i>
                </a>
                <a class="carousel-control-next" href="#carouselFade" role="button" data-slide="next">
                    <i class="fas fa-angle-double-right next-1"></i>
                </a>
            </div>
            <br>
            <hr class="new1">
            <h1>top songs</h1>
            <div class="card-group">
                <div class="card-1" style="padding-left: 10px;  padding-top: 25px;">
                    <img class="card-img" src="Media/trending/1.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">loca</h3>                        
                        <p class="card-text">yoyo honey singh</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>                
                <div class="card-2" style="padding-left: 65px; padding-top: 25px;">
                    <img class="card-img" src="Media/trending/2.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">jee karr daa</h3>                        
                        <p class="card-text">harrdy sandhu</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-3" style="padding-left: 90px; padding-top: 25px;">
                    <img class="card-img" src="Media/trending/3.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">tu bhi royega</h3>                        
                        <p class="card-text">jyotica tangri</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-group">
                <div class="card-4" style="padding-left: 10px;">
                    <img class="card-img" src="Media/trending/4.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">shopping</h3>                        
                        <p class="card-text">jass manak</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-5" style="padding-left: 95px;">
                    <img class="card-img" src="Media/trending/5.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">do you love me</h3>                        
                        <p class="card-text">nikhita gandhi</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-6" style="padding-left: 72px;">
                    <img class="card-img" src="Media/trending/6.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">red eye</h3>                        
                        <p class="card-text">karan aujla</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-group">
                <div class="card-7" style="padding-left: 10px;">
                    <img class="card-img" src="Media/trending/7.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">boht tej</h3>                        
                        <p class="card-text">fotty seven feat badshah</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-8" style="padding-left: 20px;">
                    <img class="card-img" src="Media/trending/8.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">2 cheene</h3>                        
                        <p class="card-text">khan bhaini</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-9" style="padding-left: 120px;">
                    <img class="card-img" src="Media/trending/9.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">tum na ho</h3>                        
                        <p class="card-text">Prakriti Kakar, Arjun Kanungo</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-group">
                <div class="card-10" style="padding-left: 10px;">
                    <img class="card-img" src="Media/trending/10.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">pink pink addiyaan</h3>                        
                        <p class="card-text">Jigar ft Amrit Maan</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-11" style="padding-left: 20px;">
                    <img class="card-img" src="Media/trending/11.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">jannat</h3>                        
                        <p class="card-text">b praak</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-12" style="padding-left: 140px;">
                    <img class="card-img" src="Media/trending/12.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">filhall</h3>                        
                        <p class="card-text">nupur sanon</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-group">
                <div class="card-13" style="padding-left: 10px;">
                    <img class="card-img" src="Media/trending/13.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">shayad</h3>                        
                        <p class="card-text">arijit singh</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-14" style="padding-left: 100px;">
                    <img class="card-img" src="Media/trending/14.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">garmi</h3>                        
                        <p class="card-text">badshah,nehha kakkar</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-15" style="padding-left: 60px;">
                    <img class="card-img" src="Media/trending/15.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">surma surma</h3>                        
                        <p class="card-text">guru randhawa ft jay sean</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-group">
                <div class="card-16" style="padding-left: 10px;">
                    <img class="card-img" src="Media/trending/16.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">jhanjar</h3>                        
                        <p class="card-text">karan aujla</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-17" style="padding-left: 95px;">
                    <img class="card-img" src="Media/trending/17.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">old skool</h3>                        
                        <p class="card-text">prem dhillon ft sidhu moose wala</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
                <div class="card-18" style="padding-left: -20px;">
                    <img class="card-img" src="Media/trending/18.jpg" alt="">
                    <div class="card-body-right">
                        <h3 class="card-title">illegal weapan 2.0</h3>                        
                        <p class="card-text">jasmine sandlas, garry sindhu</p>
                    </div>
                    <div class="middle">
                        <div class="text"><i class="fas fa-play"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <hr class="new1">
            <div id="carouselFadetwo" class="carousel slide arslan" data-ride="carousel">
                <div class="carousel-inner">
                    <h2>top playlists</h2>
                    <div class="carousel-item active">
                        <div class="row">
                        <div class="col-2">
                            <img src="Media/top charts/1.jpg" class="img-thumbnail" alt="">
                            <a href="#">hindi top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/2.jpg" class="img-thumbnail" alt="">
                            <a href="#">hindi top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/3.jpg" class="img-thumbnail" alt="">
                            <a href="#">international top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/4.jpg" class="img-thumbnail" alt="">
                            <a href="#">gaana originals 20</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/5.jpg" class="img-thumbnail" alt="">
                            <a href="#">new releases hot 20 </a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/6.jpg" class="img-thumbnail" alt="">
                            <a href="#">new releases hot 20</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        </div>
                    </div>            
                    <div class="carousel-item">
                        <div class="row">
                        <div class="col-2">
                            <img src="Media/top charts/7.jpg" class="img-thumbnail" alt="">
                            <a href="#">new releases hot 20</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/8.jpg" class="img-thumbnail" alt="">
                            <a href="#">bhakti top 20</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/9.jpg" class="img-thumbnail" alt="">
                            <a href="#">punjabi party top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/10.jpg" class="img-thumbnail" alt="">
                            <a href="#">hindi romance top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/11.jpg" class="img-thumbnail" alt="">
                            <a href="#">punhabi romance top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/12.jpg" class="img-thumbnail" alt="">
                            <a href="#">hindi dance top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        </div>
                    </div>            
                    <div class="carousel-item">
                        <div class="row">
                        <div class="col-2">
                            <img src="Media/top charts/13.jpg" class="img-thumbnail" alt="">
                            <a href="#">hindi 90s top 50</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/14.jpg" class="img-thumbnail" alt="">
                            <a href="#">romance top 50-2018 (punjabi)</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/15.jpg" class="img-thumbnail" alt="">
                            <a href="#">party top 50-2018 (punjabi)</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/16.jpg" class="img-thumbnail" alt="">
                            <a href="#">latest dance 2020-hindi</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/17.jpg" class="img-thumbnail" alt="">
                            <a href="#">latest love 2020-hindi</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>            
                        <div class="col-2">
                            <img src="Media/top charts/18.jpg" class="img-thumbnail" alt="">
                            <a href="#">punjabi top 100-2018</a>
                            <div class="middle" style="top: 35%;">
                                <div class="text"><i class="fas fa-play"></i></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>          
                <a class="carousel-control-prev buttons" href="#carouselFadetwo" role="button" data-slide="prev">
                    <i class="fas fa-angle-double-left prev-1"></i>
                </a>
                <a class="carousel-control-next" href="#carouselFadetwo" role="button" data-slide="next">
                    <i class="fas fa-angle-double-right next-1"></i>
                </a>
            </div>
            <br>
            <hr class="new1">
            <br>
            <%- include("partials/featuredArtists") -%> 
            <br>
            <hr class="new1">
            <%- include("partials/footer") -%> 
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>        
    </body>
</html>